.signUp {
    height: 100%;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 248px;
    padding-top: 24px;
}

.signUpContent {
    background-color: var(--grey7);
    max-width: 608px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;

    @media (max-width: 1920px) {
        max-width: 524px;
    }

    @media (max-width: 1440px) {
        max-width: 572px;
    }

    @media (max-width: 834px) {
        max-width: 95%;
    }
}

.signUpWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 48px 134px;

    @media (max-width: 1920px) {
        padding: 48px 112px;
    }

    @media (max-width: 1440px) {
        padding: 48px 138px;
    }

    @media (max-width: 834px) {
        padding: 32px 14px;
    }
}

.signUpTitle {
    color: var(--secondary);
    font-size: 28px;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.signUpPrivacy {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    span {
        font-weight: 400;
        font-size: 14px;
        line-height: 148%;
        color: var(--secondary);
        a {
            color: var(--primary);
        }

        a:hover {
            color: var(--s1);
        }
    }


}

.signUpButton {
    align-self: center;
}

.signUpBlockSignIn {
    font-size: 14px;

    span {
        color: var(--black1);
    }

    a:hover {
        color: var(--s1);
    }
}
